.welcome {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 10px;
    border-bottom: 1px solid black;
}

.welcome p{
    background-color: bisque;
    align-self: center;
    padding: 5px;
    border-radius: 25px;
}

.actions {
    margin-top: 3rem;
    text-align: center;
}

.actions button{
    background-color: aquamarine;
    border: 1px solid green;
    padding: 8px;
    font-weight: bolder;
    font-size: medium;
}

.actions button:hover{
    background-color:rgb(59, 221, 181);
}